:root {
  --logotype-font: "Raleway", sans-serif;
  --main-font: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

body {
  font-family: var(--main-font);
}

/* ================== HEADER ================== */
.navigation-list-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: #212121;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color;
}

.navigation-list-link:hover,
.navigation-list-link:focus {
  color: #2196f3;
}

.navigation-list-item {
  position: relative;
}

.chosen-navigation-list-link::before {
  position: absolute;
  content: "";
  height: 4px;
  width: 100%;
  background: #2196f3;
  border-radius: 2px;
  top: 46px;
  left: 0px;
}

.chosen-navigation-list-link {
  color: #2196f3;
}

.address-mail {
  display: flex;
  font-weight: 500;
  font-size: 14px;
  font-style: normal;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: #757575;
  align-items: center;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color;
}

.address-mail > svg {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: #757575;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: fill;
}

.address-tel {
  display: flex;
  font-weight: 500;
  font-size: 14px;
  font-style: normal;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: #757575;
  justify-content: center;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color;
}

.address-tel > svg {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: #757575;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: fill;
}

header a {
  color: #000000;
}

.address-react:focus,
.address-react:hover {
  color: #2196f3;
}

.address-react:focus .svg-react,
.address-react:hover .svg-react {
  fill: #2196f3;
}

header {
  padding: 25px 0px;
  border-bottom: 1px solid #ececec;
}

.header-list {
  display: flex;
  padding-top: 25px;
  align-items: center;
}

.navigation {
  display: flex;
  align-items: center;
}

.navigation-list {
  display: flex;
  margin-left: 90px;
}

.navigation-list-item:not(:last-child) {
  margin-right: 50px;
}

.address-header {
  margin-left: auto;
}

.address-list {
  display: flex;
}

.address-list-item:not(:last-child) {
  margin-right: 50px;
}
/* ================== END HEADER ================== */

/* ================== HERO ================== */
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.364;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  max-width: 700px;
  margin-bottom: 30px;
}

.modal-button {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  display: flex;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  cursor: pointer;
  min-width: 200px;
  padding: 10px 30px;
  border-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.hero-section {
  /* background-color: #2f303a; */
  padding: 200px 0px;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/hero/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-section .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* ================== END HERO ================== */

/* ================== ADVANTAGES ================== */
.advantages-list-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  margin-bottom: 10px;
}

.advantages-list-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #757575;
  max-width: 270px;
}

.advantages-section {
  padding: 95px 0px;
}

.hidden-title {
  color: rgba(255, 255, 255, 0);
}

.advantages-list {
  display: flex;
  margin: -15px;
}

.advantages-list-item {
  margin: 15px;
}

.advantages-item-bg {
  display: flex;
  justify-content: center;
  padding: 25px 0px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
  border-radius: 4px;
}

.advantages-item-bg > svg {
  width: 70px;
  height: 70px;
  /* margin-bottom: 55px; */
  align-self: center;
}
/* ================== END ADVANTAGES ================== */

/* ================== COMPONENTS ================== */
.container {
  width: 1200px;
  padding: 0px 15px;
  margin-left: auto;
  margin-right: auto;
}

.logotype {
  font-family: var(--logotype-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.web-logotype {
  color: #2196f3;
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.166;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.italic {
  text-decoration: none;
}
/* ================== END COMPONENTS ================== */

/*================== WORK ==================  */
.work-section {
  padding-bottom: 95px;
}

.work-list {
  display: flex;
  margin: -15px;
}

.work-list-item {
  margin: 15px;
}

.work-img {
  position: relative;
}

.work-list-item-text {
  position: absolute;
  width: 205px;
  height: 16px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.142;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
  padding-top: 25px;
  padding-bottom: 40px;
  bottom: 0;
  left: 0;
  width: 100%;
}
/*================== WORK ==================  */

/* ================== TEAM ================== */
.members-list-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.188;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 10px;
}

.members-list-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.188;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
  margin-bottom: 15px;
}

.members-list-item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.members-list {
  display: flex;
  margin: -15px;
}

.members-section {
  background-color: #f5f4fa;
  padding: 95px 0px;
}

.members-list-item {
  margin: 15px;
  background-color: #ffffff;
}

.members-inf {
  padding: 30px 30px;
}

.social-item-link {
  display: flex;
  width: 45px;
  height: 45px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: background-color;
}

.social-item-link:hover,
.social-item-link:focus {
  background-color: #2196f3;
}

.social-item-link:hover .social-icon,
.social-item-link:focus .social-icon {
  fill: #ffffff;
}

.social-item-link > svg {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: fill;
}

.social-list {
  display: flex;
  justify-content: space-between;
}
/* ================== END TEAM ================== */

/* ================== CLIENTS ================== */
.clients-list {
  display: flex;
  justify-content: space-between;
}

.client-logo-one {
  width: 45px;
  height: 50px;
  fill: #afb1b8;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: fill;
}
.client-logo-two {
  width: 40px;
  height: 52px;
  fill: #afb1b8;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: fill;
}
.client-logo-three {
  width: 41px;
  height: 43px;
  fill: #afb1b8;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: fill;
}
.client-logo-four {
  width: 80px;
  height: 42px;
  fill: #afb1b8;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: fill;
}
.client-logo-five {
  width: 59px;
  height: 47px;
  fill: #afb1b8;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: fill;
}
.client-logo-six {
  width: 89px;
  height: 46px;
  fill: #afb1b8;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: fill;
}

.client-list-item-link {
  display: flex;
  width: 170px;
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: border-color;
}

.client-list-item-link:hover,
.client-list-item-link:focus {
  border-color: #2196f3;
}

.client-list-item-link:hover .client-logo-react,
.client-list-item-link:focus .client-logo-react {
  fill: #2196f3;
}

.clients-section {
  padding: 95px 0px;
}
/* ================== END CLIENTS ================== */

/* ================== FOOTER ================== */
.address-footer-address {
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  line-height: 1.715;
  letter-spacing: 0.03em;
  color: #ffffff;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color;
}

.address-footer-mail,
.address-footer-tel {
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  line-height: 1.715;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color;
}

footer {
  background-color: #2f303a;
  padding: 60px 0px;
}

.address-footer {
  margin-top: 20px;
}

.address-footer-list-item:not(:last-child) {
  margin-bottom: 10px;
}

footer a {
  color: #ffffff;
}

.footer-text {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.social-footer-list {
  display: flex;
}

.social-footer-item-link {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  justify-content: center;
  align-items: center;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: background-color;
}

.social-footer-list-item:not(:last-child) {
  margin-right: 10px;
}

.social-footer-item-link > svg {
  width: 20px;
  height: 20px;
  fill: #ffffff;
}

.social-footer-item-link:focus,
.social-footer-item-link:hover {
  background-color: #2196f3;
}

.footer-list {
  display: flex;
  align-items: flex-start;
}

.footer-links {
  padding-top: 12px;
  margin-left: 70px;
}

.footer-form {
  display: flex;
  flex-direction: column;
  margin-left: 95px;
  padding-top: 12px;
}

.footer-form > div {
  display: flex;
}

.footer-form-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.footer-input {
  width: 358px;
  height: 50px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03em;
  color: rgb(255, 255, 255);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: #2f303a;
  padding-left: 15px;
  margin-right: 12px;
}

.footer-input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.submit-footer-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  padding: 10px 28px;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 0px;
  border-radius: 4px;
  letter-spacing: 0.06em;
  color: #ffffff;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.submit-footer-button > svg {
  width: 24px;
  height: 24px;
  margin-left: 14px;
}

/* ================== END FOOTER ================== */

/* ================== PORTFOLIO ================== */
.filters-list-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  background-color: #f5f4fa;
  border-radius: 4px;
  border: 0px;
  padding: 6px 20px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: background-color, box-shadow, color;
}

.filters-list-button:hover,
.filters-list-button:focus {
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.chosen-filters-list-button {
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-list-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.portfolio-list-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: #757575;
}

.portfolio-section {
  padding-top: 70px;
  padding-bottom: 95px;
}

.filters-list {
  display: flex;
  justify-content: center;
  margin-bottom: 35px;
}

.filters-list-item:not(:last-child) {
  margin-right: 10px;
}

.portfolio-list {
  display: flex;
  margin: -15px;
  flex-wrap: wrap;
}

.portfolio-img {
  position: relative;
  overflow: hidden;
}

.portfolio-img-text {
  position: absolute;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.556;
  letter-spacing: 0.03em;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
  top: 0;
  left: 0;
  padding: 63px 24px;
  transform: translateY(100%);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: transform;
}

.portfolio-list-item-link:hover .portfolio-img-text,
.portfolio-list-item-link:focus .portfolio-img-text {
  transform: translateY(0%);
}

.portfolio-img > img {
  width: 100%;
}

.portfolio-inf {
  padding: 20px 25px;
}

.portfolio-list-title {
  margin-bottom: 5px;
}

.portfolio-list-item-link {
  display: flex;
  flex-direction: column;
  margin: 15px;
  background: #ffffff;
  border: 1px solid #eeeeee;
  width: 370px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: box-shadow;
}

.portfolio-list-item-link:hover,
.portfolio-list-item-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
/* ================== END PORTFOLIO ================== */
/* ================== MODAL ================== */
.backdrop {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.modal {
  position: absolute;
  width: 528px;
  height: 581px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
}

.modal-close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  border-radius: 50%;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.modal-close-svg {
  width: 11px;
  height: 11px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-button:focus,
.modal-close-button:hover .modal-close-svg {
  fill: #2196f3;
}

/* form */
.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form > b {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  align-self: center;
}

.modal-form-input-label {
  font-weight: normal;
  font-size: 12px;
  line-height: 1.166;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 4px;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus {
  outline: none;
  border: 1px solid #2196f3;
}

.modal-form-input-massage {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  font-weight: 400;
  font-size: 1.166;
  line-height: 14px;
  letter-spacing: 0.01em;
  padding: 12px 16px;
  margin-bottom: 20px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input-massage:focus {
  outline: none;
  border: 1px solid #2196f3;
}

.modal-form-input-massage:focus::placeholder {
  color: #2196f3;
}

.modal-form-input-massage::placeholder {
  color: rgba(117, 117, 117, 0.5);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input-svg {
  position: absolute;
  width: 18px;
  height: 18px;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  fill: #212121;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus + .modal-form-input-svg {
  fill: #2196f3;
}

.modal-form > div {
  position: relative;
  margin-bottom: 10px;
}

.modal-form-label-policy {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #757575;
  margin-bottom: 30px;
  align-self: center;
}

.modal-form-label-policy::before {
  content: "";
  width: 16px;
  height: 15px;
  margin-right: 8px;
  background-image: url("../images/checkbox.svg");
  background-repeat: no-repeat;
  background-position: center;
  outline: none;
  transition: background-image 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-label-policy > a {
  color: #2196f3;
  margin-left: 4px;
}

.modal-form-submit-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: #ffffff;
  padding: 10px 55px;
  align-self: center;
  background: #2196f3;
  border: 0px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-submit-button:focus,
.modal-form-submit-button:hover {
  background-color: #188ce8;
}

.modal-form-check-policy:checked + .modal-form-label-policy::before {
  border: 0px solid #2196f3;
  border-radius: 2px;
  background-color: #2196f3;
  background-image: url("../images/icon-mark.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.modal-form-check-policy:focus + .modal-form-label-policy::before {
  box-shadow: 0 0 0 2px #000;
}

/* end form */

/* ================== END MODAL ================== */

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
